<link rel="stylesheet" href="/css/style.css" />

<nav class="navbar navbar-expand-md custom-navbar sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand glow-text" href="/">SnapLink🚀</a>

    <button class="navbar-toggler border-success" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="mainNavbar">
      <ul class="navbar-nav ms-auto align-items-center gap-2">
        <li class="nav-item">
          <a class="nav-link nav-pill" href="/">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link nav-pill" href="/about">About Us</a>
        </li>

        <% if (!user) { %>
          <li class="nav-item">
            <a class="btn btn-outline-success rounded-pill" href="/login">Login</a>
          </li>
          <li class="nav-item">
            <a class="btn btn-success rounded-pill" href="/signup">Create Account</a>
          </li>
          <% } else { %>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle nav-pill" href="#" id="userDropdown" role="button"
                data-bs-toggle="dropdown">
                👤 <%= user.email.split("@")[0] %>
              </a>
              <ul class="dropdown-menu dropdown-menu-end glass-dropdown">
                <li><a class="dropdown-item text-light" href="/url">🔗 Your URLs</a></li>
                <li>
                  <hr class="dropdown-divider border-success">
                </li>
                <li><a class="dropdown-item text-danger" href="/user/logout">🚪 Logout</a></li>
              </ul>
            </li>
            <% } %>
      </ul>
    </div>
  </div>
</nav>