<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>About - Suyog Sable</title>
        <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="about-page">
    <%- include('./partials/navbar') %>

        <div class="about-wrapper">
            <img src="images/suyog.jpeg" alt="Suyog Sable">
            <h1>Suyog Sable</h1>
            <h4>Engineer • Developer • Problem-solver</h4>
            <p>
                Hi, I’m Suyog — a passionate full-stack developer, tech enthusiast, and problem-solver. I love working
                on real-world projects involving AI, web development, and innovative systems. My goal is to build
                meaningful tech that helps people and improves everyday life.
            </p>
            <p>
                I’ve built apps like an Inventory Tracker with AI forecasting, a CRM System , and
                multiple full-stack platforms using Node.js, MongoDB, and React. Always curious, always learning.
            </p>
            <div class="btn-group">
                <a href="https://github.com/Suyog-Sable" target="_blank">GitHub</a>
                <a href="https://www.linkedin.com/in/suyog-sable/" target="_blank">LinkedIn</a>
                <a href="mailto:suyogsable3@gmail.com">Email Me</a>
            </div>
        </div>
         <%- include('./partials/footer') %>
        <%- include('partials/script') %>
</body>

</html>