<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Login</title>
        <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="login-page">
    <%- include('partials/navbar') %>
        <div class="Login">
            <h1>Login</h1>
            <form action="/user/Login" method="post">
                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Enter your email" required />

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Enter your password" required />

                <button type="submit">Login</button>
            </form>
        </div>
         <%- include('./partials/footer') %>
        <%- include('partials/script') %>
        
</body>

</html>