<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
        <title>Signup</title>
        <link rel="stylesheet" href="/css/style.css" />

</head>

<body class="signup-page">
    <%- include('partials/navbar') %>
        <div class="signup">
            <h1>Signup</h1>
            <form action="/user" method="post">
                <label for="name">Full Name</label>
                <input type="text" name="name" id="name" placeholder="Enter your name" required />

                <label for="email">Email</label>
                <input type="text" name="email" id="email" placeholder="Enter your email" required />

                <label for="password">Password</label>
                <input type="password" name="password" id="password" placeholder="Create a password" required />

                <button type="submit">Signup</button>
            </form>
        </div>
        <%- include('./partials/footer') %>
            <%- include('partials/script') %>
</body>


</html>